textarea {
    vertical-align: top;
    height:50px;
    width:100%;
    resize:none;
    display: inline-block;
}
button {
    background-color: #000000;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 13px;
    cursor: pointer;
    margin: 0 auto;
}